[Desktop Entry]
Name=Simple Sine Wave Generator
Comment=Generate sine waves with GTK3 GUI and logarithmic frequency sweep
Exec=simpleSineWaveGenerator
Icon=simplesinewavegenerator
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
StartupNotify=true
